{% extends "base.html" %}

{% block title %}About Us{% endblock title %}


{% block content %}

<section class="vh-100" style="background-color: #f8f9fa;">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="text-center text-primary mb-4">About Us</h1>
              <p class="text-justify">
                This website is a site where you can buy and sell vegetables and fruits. The difference between this site and other sites where such things are sold is that we have divided the products into categories based on their quality, appearance, and size.
              </p>
              <h4 class="text-success mt-4">Category A:</h4>
              <p>
                Potatoes of the highest quality - smooth, clean, without blemishes or scars and of uniform size. Such high-quality products are mainly used in exports, expensive restaurants, kitchens, and rich people's homes.
              </p>
              <h4 class="text-info">Category B:</h4>
              <p>
                Potatoes of good quality, but may have some small spots or blemishes. These types of products are used in domestic markets and in households for daily needs.
              </p>
              <h4 class="text-warning">Category C:</h4>
              <p>
                Average quality, may have some visible blemishes or blemishes. Cheaper and used for mass sales. For example, it is used for canteens, hospitals, university canteens, factories, schools, construction workers.
              </p>
              <h4 class="text-danger">Category D:</h4>
              <p>
                Potatoes of the lowest quality, large in size, may have scars, spots, or irregularities in shape. This type of potatoes is the lowest type of potatoes in terms of quality, appearance, and size, and they are mainly used for preparing food for criminals in prisons, as animal feed in zoos, and for feeding livestock by farmers.
              </p>
              <p class="mt-4">
                In this way, the customer will be able to buy and order the product that is suitable for them.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}